@data-width: 320px;
/* size of the links bar */
@topbar-height: 20px;
@logo-height: 42px;


html, body {
  position: relative;
  height: 100%;
}

body {
  padding-top: @topbar-height;
}

header {
  padding: 0;
  margin-bottom: 0;
  &.navbar {
    min-height: 20px;
    border: 0;
  }

  > div:nth-child(1) {
    position: absolute;
    width: 100%;
  }

  .banner1 {
    float: right;
    font-size: smaller;
  }

  > div:nth-child(2) {
    background-color: rgba(240, 240, 240, 0.7);
    height: @logo-height;
    margin-top: @topbar-height;
  }

  .logo {
    float: left;
    img {
      height: @logo-height;
    }
    width: @data-width;
    background-color: white;
  }
  .search-bar {
    padding-left: 10px;
    line-height: @logo-height;
    margin-left: @data-width;
  }
  .search {
    position: relative;
    display: inline-block;
    margin-left: 40px;
    .gmf-icon-search {
      position: absolute;
      left: 6px;
    }
    input {
      text-indent: 16px;
    }
  }
}


@media (min-width: 768px) {
  .search .form-control {
    width: 350px;
  }
}


  /*position: relative;*/

#main-container {
  position: relative;
  height: 100%;
  background-color: #f9f9f9;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAAAAABzHgM7AAAAAnRSTlMAAHaTzTgAAAARSURBVHgBY3iKBFEAOp/+MgB+UQnYeBZPWAAAAABJRU5ErkJggg==');
}

#map {
  width: auto;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#data {
  display: block;
  width: @data-width;
  float: left;
  height: 100%;
  position: relative;
  background-color: red;
}

#tools {
  display: block;
  float: right;
  position: relative;
  background-color: #bbffaa;
}
#data,
#tools {
  height: ~"calc(100% - @{logo-height})";
  background-color: #B1C2B5;
  margin-top: @logo-height;
}
