header {
  > div:nth-child(1) {
    .box-shadow(0px 2px 4px -1px rgba(0, 0, 0, 0.3));
  }
  .box-shadow(0px 2px 6px -1px rgba(0, 0, 0, 0.5));
}

#data .body {
  background-color: @brand-secondary;
  .tree {
    background-color: @brand-primary;
  }
  .btn {
    background-color: white;
  }
  ul {
    list-style-type: none;
    > li > span {
      font-weight: bold;
    }
    ul {
      padding-left: 10px;
    }
  }
}


#tools {
  .btn {
    background-color: transparent;
    border-right-width: 0;
    border-left-width: 0;
    &.active {
      background-color: @brand-secondary;
      border-left: 1px solid @brand-secondary;
      margin-left: -1px;
      .box-shadow(none);
    }
  }
}

#tools-content {
  > div {
    display: none;
    &.active {
      display: block;
    }
  }
  .panel-heading {
    color: @gray-light;
    border-bottom: 1px solid @gray-light;
    margin: 5px 0;
  }
  .form-control {
    border: none;
    background-color: @brand-primary;
    .placeholder(darken(@input-color-placeholder, 10%));
    color: darken(@input-color, 10%);
  }
}

.search .gmf-icon {
  color: @input-color-placeholder;
}

fieldset {
  padding-bottom: 10px;
  legend {
    margin-bottom: 0;
    font-size: 0.9em;
    font-weight: bold;
    border: 0;
  }
}
